@page
@model TalepYonetim.Pages.EkleModel
@{
    ViewData["Title"] = "Yeni Talep";
}

<form method="post">
    <!-- Other form fields -->
    <label asp-for="Talep.Aciklama">Açıklama</label>
    <input asp-for="Talep.Aciklama" class="form-control" />
    @* <span asp-validation-for="Talep.Aciklama" class="text-danger"></span> *@

    <label asp-for="Talep.Adet">Adet</label>
    <input asp-for="Talep.Adet" class="form-control" id="adet" required />
    <span asp-validation-for="Talep.Adet" class="text-danger"></span>

    <label asp-for="Talep.Edenİsim">Talep Edenin Adı</label>
    <input asp-for="Talep.Edenİsim" class="form-control" required />
    <span asp-validation-for="Talep.Edenİsim" class="text-danger"></span>

    <label asp-for="Talep.EdenSoyisim">Talep Edenin Soyadı</label>
    <input asp-for="Talep.EdenSoyisim" class="form-control" asp-validation-for="Talep.EdenSoyisim" required/>
    @* <span asp-validation-for="Talep.EdenSoyisim" class="text-danger" required></span> *@
    @* @Html.ValidationMessageFor(model => model.Talep.EdenSoyisim, "", new { @class = "text-danger" }) *@
    
    <div class="mb-3">
        <label for="talepKategoriId" class="form-label">Kategori</label>
        <select class="form-control" id="talepKategoriId" asp-for="AltKategori.KategoriId" required>
            <option value="">Select a Kategori</option>
            @foreach (var kategori in Model.Kategoriler)
            {
                <option value="@kategori.Id">@kategori.Name</option>
            }
        </select>
        <span asp-validation-for="AltKategori.KategoriId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="altKategori" class="form-label">Alt Kategori</label>
        <select class="form-control" id="altKategori" asp-for="Talep.AltKategoriId" required>
            <!-- Options will be dynamically populated using jQuery AJAX -->
        </select>
        <span asp-validation-for="Talep.AltKategoriId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success" style="width:150px">Insert</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Event listener for the main category dropdown change
            $('#talepKategoriId').change(function () {
                //
                $('#altKategori').empty();

                // secilen kategori
                var secilenKategori = $(this).val();

                // ajax call gerekli alt kategoriler icin
                $.ajax({
                    type: 'GET',
                    url: '/Ekle?handler=AltKategoriler',
                    data: { talepEdilenKategoriId: secilenKategori },
                    dataType: 'json',

                    success: function (altKategoriler) {
                        // bu kategoriye ait alt kategoriler
                        $.each(altKategoriler, function (index, altKategori) {
                            $('#altKategori').append($('<option>', {
                                value: altKategori.id,
                                text: altKategori.name
                            }));
                        });
                    },
                    error: function () {
                        console.error('Error fetching subcategories');
                    }
                });
            });

            $('form').submit(function (e) {
                // Check for form validity
                if (!this.checkValidity()) {
                    e.preventDefault();
                    e.stopPropagation();
                }

                // Trigger Bootstrap validation styles
                $(this).addClass('was-validated');
            });
        });
    </script>
}
